<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
    <div class="user-info-wrapper sm">
        <div class="profile-wrapper sm">
            <img src="~/assets/img/profiles/avatar.jpg" alt="" data-src-retina="~/assets/img/profiles/avatar2x.jpg" width="69" height="69" />
            <div class="availability-bubble online"></div>

        </div>
        <div class="user-info sm">
            <div class="username">Fred <span class="semi-bold">Smith</span></div>
            <div class="status">Life goes on...</div>
        </div>
    </div>
    <!-- END MINI-PROFILE -->
    <!-- BEGIN SIDEBAR MENU -->
    <p class="menu-title sm">BROWSE <span class="pull-right"><a href="javascript:;"><i class="material-icons">refresh</i></a></span></p>
    <ul>
        <li class="start  open active ">
            <a href="index.html"><i class="material-icons">home</i> <span class="title">Tableau de bord</span> @*<span class="selected"></span> <span class="arrow  open "></span> </a>
            @*<ul class="sub-menu">
                    <li> <a href="dashboard_v1.html"> Dashboard v1 </a> </li>
                    <li class=""> <a href="index.html "> Dashboard v2 <span class=" label label-info pull-right m-r-30">NEW</span></a></li>
                </ul>*@
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-gear"></i> <span class="title">Administrations</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="theme_coporate.html">Rôles </a> </li>
                <li> <a href="theme_simple.html">Users</a> </li>
                <li> <a href="">Permission</a> </li>

            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-gear"></i> <span class="title">Parametrages</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="">Pays</a> </li>
                <li> <a href="">Villes</a> </li>
                <li> <a href="">Familles des clients</a> </li>
                <li> <a href="@Url.Action("index","Clients")">Clients</a> </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-users"></i> <span class="title">Gestion des ventes</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="boxed_layout.html"> Liste des clients</a> </li>
                <li> <a href="boxed_layout.html">Boxed Layout </a> </li>
                <li> <a href="boxed_layout_v2.html">Inner Boxed Layout </a> </li>
                <li> <a href="extended_layout.html">Extended Layout</a> </li>
                <li> <a href="RTL.html">RTL Layout</a> </li>
                <li> <a href="horizontal_menu.html">Horizontal Menu</a> </li>
                <li> <a href="horizontal_menu_boxed.html">Horizontal Menu & Boxed</a> </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-fighter-jet"></i><span class="title">Gestion des Vols</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="typography.html"> Companys </a> </li>
                <li> <a href="typography.html"> Type de vols </a> </li>
                <li> <a href="messages_notifications.html">Billet d'avion </a> </li>
                @*<li> <a href="notifications.html"> Notifications </a> </li>
                    <li> <a href="icons.html">Icons</a> </li>
                    <li class=""> <a href="buttons.html">Buttons</a> </li>
                    <li> <a href="tabs_accordian.html"> Tabs & Accordions </a> </li>
                    <li> <a href="sliders.html">Sliders</a> </li>
                    <li> <a href="group_list.html">Group list </a> </li>*@
            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-anchor"></i> <span class="title">Gestion transversée</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="form_elements.html">Compagnies </a> </li>
                <li> <a href="form_validations.html">Billet Bateau</a> </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-cutlery"></i> <span class="title">Réservation  d'Hôtels</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="grids_simple.html">Classements</a> </li>
                <li> <a href="grids_draggable.html">Type de chambre </a> </li>
                <li> <a href="grids_draggable.html">Type de rubriques </a> </li>
                <li> <a href="form_validations.html">Réservation</a> </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-gears"></i> <span class="title">Inscriptions</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="tables.html">Omra </a> </li>
                <li> <a href="datatables.html">Hajj </a> </li>

            </ul>
        </li>
        <li>
            <a href="javascript:;"> <i class="fa fa-cutlery"></i> <span class="title">Voyage organisé</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="grids_simple.html">Au maroc</a> </li>
                <li> <a href="grids_draggable.html">A l'etranger </a> </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;"> <i class="fa fa-building-o"></i> <span class="title">Raports</span> <span class=" arrow"></span> </a>
            <ul class="sub-menu">
                <li> <a href="google_map.html"> Google Maps </a> </li>
                <li> <a href="vector_map.html"> Vector Maps </a> </li>
            </ul>
        </li>
    </ul>
</div>
<a href="#" class="scrollup">Scroll</a>
<div class="footer-widget">
    <div class="progress transparent progress-small no-radius no-margin">
        <div class="progress-bar progress-bar-success animate-progress-bar" data-percentage="79%" style="width: 79%;"></div>
    </div>
    <div class="pull-right">
        <div class="details-status"> <span class="animate-number" data-value="86" data-animation-duration="560">86</span>% </div>
        <a href="lockscreen.html"><i class="material-icons">power_settings_new</i></a>
    </div>
</div>


